body {
    background-color: black;
    color: seashell;
    font-family: 22px;
    text-align: center;
    opacity: 0.9;
}

nav {
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 10;
    padding: 0px 10px;
    justify-content: space-between;
}

nav img {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.menu-items {
    position: relative;
    text-decoration: underline;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu-items h3 {
    padding-left: 15px;
}

.mission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x:hidden;
}

.mission-text {
    position: absolute;
    background-color: black;
    width: 100%;
}

.mission-text h2 {
    margin: 0px auto;
    padding: 10px;
}

.mission-text h4 {
    margin: 0px auto;
    padding: 10px;
}

.feattea-container {
    width: 1000px;
    margin: auto;
}

.feattea-box {
    position: relative;
    padding: 0px 15px;
}

.feattea-box h4 {
    position: relative;
    top: -10px;
}

.feattea-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.locations-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.locations-container h2 {
    position: relative;
    padding-bottom: 30px;
    z-index: 2;
}

.location-boxes {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 2;
}

.location-box {
    background-color: black;
    opacity: 1;
    width: 300px;
    height: 300px;
    margin: 0px 20px;
}

.location-img {
    position: absolute;
}

.contact-container {
    height: 200px;
    position: relative;
}

.credits-container {
    position: relative;
    text-align: start;
    padding-left: 20px;
}
